.container {
    max-width: 1280px;
    margin: 0 auto; 

}   

.main-container{
    display: flex;

}

.list{
    display: flex;  
}

.header-logo{
    text-decoration: none;
    width: 334px;
    height: 79px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

}

.link{
    text-decoration: none;
}

.black-text{
    color: #000;
}

.cyan-text {
    color: #4BCAFF;
}

.navbar{
    background-color:#35444F;
    margin-top: 40px;
    margin-bottom: 49px;
    justify-content: center;
    position: sticky;
}
.navbar-list{
    margin-top: 40px;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;


}

.nav-item{
    padding-top: 24px;
    padding-bottom: 18px;
    padding: 24px 40px 18px;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    transition: 0.5s;

}

.nav-link{
    color: #FFFFFF;
}

.nav-item:hover{
    transition: 0.5s;
    background-color: #222F3A;
}

.sidebar{
    width: 344px;
    text-decoration: none;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.0001);
    margin: 0;
}

.sidebar-item{
    padding: 25px 82px 25px 42px;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Roboto';
    font-weight: 400;
    height: 27px;
}

.sidebar-link{
    color: #485863;
    transition: 0.5s;
}

.sidebar-item:hover{
    transition: 0.5s;
    padding-left: 58px;
    color: #000000;
    background-color: #DBDBDB;
}

.main-banner{
    width: 885px;
    height: 529px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid#000;
    margin-bottom: 37px;
    margin: 0 auto;
}

.main-banner img{
    transition: 0.5s;
}

.main-banner img:hover{
    scale: 1.05;
    transition: 0.5s;
}

.main-content{
    justify-content: flex-end;
    max-width: 885px;
    margin-left: 52px;

}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 35px;
}

.footer-bar{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;   
    align-items: center;
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-menu-list{
    display: flex;
    justify-content: flex-start;
    font-family: 'Roboto';

}

.footer-menu__item{ 
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    padding-right: 30px;
}

.footer-link{
    color: #0C1927;
    transition: 0.5s;
}

.footer-link:hover{
    transition: 0.5s;
    text-decoration: underline;
    color: #3181A6;

}

.copyright{
    justify-content: flex-end;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-left: auto;
}


